@model Entities.SinhVien

@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nienKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nienKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idDoAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idDoAn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSinhVien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script>

</script>
