@model Entities.SinhVien
@{ 
    Layout = "~/Views/Shared/_SinhVienLayout.cshtml";
}
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-12" id="pnlLabelPage">
            <h3 style="font-weight : 600;color: #0094ff; ">Thông tin sinh viên</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="pnlButtonEdit">
            <button type="button" class="btn-btn-primary" id="btnSua"><i class="fa fa-cog" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("ThongTinSinhVien", "SinhVien", FormMethod.Post, new { @id = "frmThongTInSinhVien" }))
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="text-align:left">
                            <label for="txtIdSinhVien">Mã sinh viên: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.idSinhVien, new { @class = "form-control", @id ="txtIdSinhVien", @readonly ="readonly", @required = "required"})
                        </div>
                        <div class="form-group" style="text-align:left">
                            <label for="txtHoTenSinhVien">Họ tên sinh viên: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.hoTen, new { @class = "form-control", @id = "txtHoTenSinhVien", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group" style="text-align:left">
                            <label for="txtPassword">Password: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", @id = "txtPassword", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group" style="text-align:left">
                            <label for="txtNienKhoa">Niên khóa: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.nienKhoa, new { @class = "form-control", @id = "txtNienKhoa", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group" style="text-align:left">
                            <label for="txtKhoa">Khoa: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.khoa, new { @class = "form-control", @id = "txtKhoa", @readonly = "readonly", @required = "required" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="text-align:left">
                            <label for="txtDiaChi">Địa chỉ: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.diaChi, new { @class = "form-control", @id = "txtDiaChi", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group" style="text-align:left">
                            <label for="txtSoDienThoai">Số điện thoại: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.soDienThoai, new { @class = "form-control", @id = "txtSoDienThoai", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group" style="text-align:left">
                            <label for="txtEmail">Email: <span class="text-danger">&nbsp;(*)</span></label>
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @id = "txtEmail", @readonly = "readonly", @required = "required" })
                        </div>
                        <div class="form-group" style="text-align: left;">
                            <button type="button" id="btnDoiMatKhau" class="btn btn-primary" data-toggle="modal" data-target="#modalDoiMatKhau">Đổi mật khẩu</button>
                        </div>
                    </div>
                 </div>
                <br/>
                <input type="submit" value="Lưu" id="btnLuu" class="btn-btn-primary" disabled />
            }
        </div>
    </div>
</div>
<div class="modal" id="modalDoiMatKhau" style="border-radius:0">
    <div class="modal-dialog" style="border-radius:0">
        <div class="modal-content" style="border-radius:0; padding:0">
            <div class="modal-body" style="text-align:right">
                <form action="../SinhVien/DoiMatKhau" method="post">
                    <div class="form-group"style="text-align:left">
                        <label for="txtMatKhauCu">Mật khẩu cũ </label>
                        <input type="password" id="txtMatKhauCu" class="form-control" required />
                    </div>
                    <div class="form-group" style="text-align:left">
                        <label for="txtMatKhauMoi">Mật khẩu mới</label>
                        <input type="password" id="txtMatKhauMoi" class="form-control" required />
                    </div>
                    <div class="form-group" style="text-align:left">
                        <label for="txtMatKhauCu">Xác nhận mật khẩu</label>
                        <input type="password" id="txtXacNhanMatKhauMoi" class="form-control" required />
                    </div>
                    <br/> 
                    <button type="button" class="btn btn-danger" data-dissmiss="modal" style="border-radius:0">Close</button>
                    <button type="submit" class="btn btn-primary" id="btnXacNhanMatKhau" style="border-radius:0">Xác nhận</button>
                </form>
            </div>
        </div>
    </div> 
</div>
<script type="text/javascript">
    $("#btnSua").on("click", () => {
        $("#txtEmail").prop("readonly", false);
        $("#txtSoDienThoai").prop("readonly", false);
        $("#txtDiaChi").prop("readonly", false);
        $("#btnLuu").prop("disabled", false);
    });
</script>